.cabecalho {
    background-color: black;
    color: azure;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: black;
    padding: 100px;
}

.section2 {
    background-color: black;
    padding: 100px;
}